.quicklaunch {
    margin-bottom: 4em;
    position: sticky;
    top: 0px;
    background-color: var(--bg-color1);
    z-index: 10;
}

.quicklaunch ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.games li img {
    width: 200px;
    border-radius: 5px;
}