.friendlist {
    position: fixed;
    background: var(--bg-color2);
    border: var(--color2) solid 2px;
    border-radius: 10px;
    padding: 0 1.5em 1.5em 1.5em;
    width: 350px;
    z-index: 999;
    right: 2em;
    overflow: hidden;
}

.friendlist input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.toggle-menu {
    background: rgb(34, 34, 34);
    border-radius: 50px;
    margin: 1.5em auto;
    width: fit-content;
    padding: 0.8em 0.4em;
    white-space: nowrap;
}

.friendlist label {
    padding: .5em 2.5em;
    cursor: pointer;
    color: var(--color2);
    transition: 0.2s;
}

.friendlist label:hover {
    color: rgb(172, 172, 172);
}

.friendlist input[type="radio"]:checked + label {
    background-color: rgb(68, 68, 68);
    border-radius: 15px;
    color: white;
}

.search {
    display: flex;
    flex-direction: row;
    margin: 0 0 1em;
}

.search input[type="search"] {
    border: var(--bg-color5) solid;
    border-width: 1px 0 1px 1px;
    font-weight: bold;
    color: var(--color2);
    border-radius: 5px 0 0 5px;
    font-size: 14px;
    padding: 0.8em;
    width: 90%;
    background: transparent;
    outline: none;
}

.search input[type="search"]:focus, input[type="search"]:focus + .search-btn {
    border-color: #fff;
    transition: 0.4s;
}

.search input[type="search"]::placeholder {
    color: var(--color2);
}

.search-btn {
    border-color: var(--bg-color5);
    border-style: solid;
    border-radius: 0 5px 5px 0;
    border-width: 1px 1px 1px 0;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    padding-right: 2em;
    width: 30px;
}

.userlist {
    position: relative;
    overflow-y: scroll;
}

.userlist ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: bold;
}

.userlist li {
    margin: 2em auto 2em 3.5em;
    cursor: pointer;
}

.userlist .icon {
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
}

.userlist .icon.online::after, .userlist .icon.offline::after {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    border: var(--bg-color2) solid 2px;
}

.userlist .icon.online::after {
    background: lime;
}


.userlist .icon.offline::after {
    background: grey;
}

.userlist .you {
    background: var(--bg-color3);
    border-radius: 5px;
    font-size: 10px;
    font-weight: normal;
    padding: 2px 4px;
}

.userlist p {
    color: #a0a0a0;
    font-weight: bold;
}

.userlist .status {
    font-weight: normal;
    display: block;
    color: #a0a0a0;
}

.connect {
    padding: 1em 3em;
    text-align: left;
    border-top: var(--color2) solid 1px;
    font-size: 12px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.connect a {
    color: white;
}

@media only screen and (max-width: 968px) {
    .friendlist {
        display: none;
    }
}