.sidecontent {
    border-left: var(--bg-color3) solid 1px;
    margin-top: 2em;
    padding: 3em 2em;
    min-height: 100vh;
}

.quicklaunch ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.quicklaunch .games li img {
    width: 200px;
    border-radius: 5px;
}

div {
    margin-bottom: 4em;
}

@media only screen and (max-width: 968px) {
    .sidecontent {
        margin: auto;
    }
}