 body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: var(--color1);
   overflow-x: hidden;
   background: var(--bg-color1);
   font-family: 'Open Sans', sans-serif;
   font-size: 14px;
 }

 :root {
   --bg-color1: #121212;
   --bg-color2: #141414;
   --bg-color3: #363636;
   --bg-color4: #1D1D1D;
   --bg-color5: #434343;
   --color1: #FFFFFF;
   --color2: #838383;
 }

 .App {
   display: grid;
   grid-template-columns: 250px auto 350px;
 }

 @media only screen and (max-width: 968px) {

   .App {
     display: unset;
   }
 }